<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

  <handlers>
    <clear />
    <add name="iisnode" path="/static/js/main.45cae058.chunk.js" verb="*" modules="iisnode" />
    <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
  </handlers>
  <rewrite>
    <rules>

    <rule name="Server-side rendering" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="/static/js/main.45cae058.chunk.js" />
    </rule>

    </rules>
  </rewrite>    
  <security>
      <requestFiltering>
          <hiddenSegments>
              <add segment="node_modules" />
          </hiddenSegments>
      </requestFiltering>
  </security>
</system.webServer>
</configuration>
